
@charset 'utf-8';

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: transparent;
	vertical-align: baseline;
	font-size:62.5%;
}
body {
	font-family: "Helvetica Neue",\5FAE\8F6F\96C5\9ED1,Tohoma;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	-ms-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background: #ecf0fb;
}
.banner{
  width: 100%;
}
div.phone {
    width: 90%;
    margin: 5px 5% 5px;
    box-sizing: border-box;
    padding: 10px 5%;
    height: 50px;
    background-color: #fff;
    border-radius: 28px;
    text-align: left;
    line-height: 30px;
}
.phone label {
    display: inline-block;
    margin-right: 10px;
    /* vertical-align: middle; */
    color: #000;
    line-height: 30px;
    font-size: 16px;
}
.phone input {
    display: inline-block;
    text-align: left;
    /* height: 30px; */
    line-height: 20px;
    font-size: 14px;
    border: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-appearance: none;
    border: none;
}
 input:focus{
    outline: none;
　　}
 .title{
   margin: 20px auto;
text-align: -webkit-center;
text-align: center;
 }
 .ruelimg{
       height: 28px;
 }
 .rule_text{
   font-size: 1.4rem;
    padding: 0 9px 10px 10px;
    line-height: 20px;
 }
 .downLoad{
  width: 90%;
  margin: 5% 5%;
  box-sizing: border-box;
  padding: 10px 5%;
  height: 50px;
  background-color: #7923aa;
  font-size: 18px;
  letter-spacing: 1px;
  color:#fff;
  border-radius: 28px;
  text-align: center;
  line-height: 30px;
 }

/*-------------------弹框--------------------------*/
.pop{
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    background-color:#000;
    opacity: 0.6;
    z-index: 4;
    display:none;
}
.toast1,.toast2{
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:72%;
    padding-top:20px;
    box-sizing:border-box;
    z-index:5;
    background-color: #fff;
    border-radius: 8px;
    color:#333;
    display:none;
	 text-align:center;
   font-size: 1.6rem;
}
.toast1 p,.toast2 p{
    padding:0 8%;
    line-height: 24px;
    font-size: 1.6rem;
}
.sureBtn{
  width:100%;
  border-top:1px solid #ccc;
  line-height:48px;
  margin-top:10px;
	font-size: 1.6rem;
}
